ClientManagementSystem/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50768/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50768/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50768/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientManagementSystem.Models" />
      <xsd:import schemaLocation="http://localhost:50768/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IService1_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IService1_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContact" />
  </wsdl:message>
  <wsdl:message name="IService1_GetContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAddress" message="tns:IService1_AddAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAddressResponse" message="tns:IService1_AddAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientAddress" message="tns:IService1_GetClientAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientAddressResponse" message="tns:IService1_GetClientAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddClient" message="tns:IService1_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddClientResponse" message="tns:IService1_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClients" message="tns:IService1_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientsResponse" message="tns:IService1_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddContact" message="tns:IService1_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddContactResponse" message="tns:IService1_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetContact" message="tns:IService1_GetContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetContactResponse" message="tns:IService1_GetContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateContact" message="tns:IService1_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateContactResponse" message="tns:IService1_UpdateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAddress" message="tns:IService1_UpdateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAddressResponse" message="tns:IService1_UpdateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateClient" message="tns:IService1_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateClientResponse" message="tns:IService1_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IService1/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/IService1/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://tempuri.org/IService1/GetContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50768/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>